.main {
	position: absolute;
    top: 50px;
    left: 450px;
}

#svgObj1 {
    z-index: 100;
}

h4 {
    padding: 5px;
}

.own {
    padding: 5px;
    background: lightblue;
}

.another {
    padding: 5px;
    background: rgb(241, 123, 123);
}

#alert{
    font-size: 14px;
    color: red;
}

object {
    /* border: 2px solid rgb(151, 153, 151); */
}

